#       #h2配置
spring:
  datasource:
    # driverClassName: org.h2.Driver #配置JDBC Driver
    # password: sa
    #url: jdbc:h2:tcp://localhost/F:/H2/db/db05;AUTO_SERVER=TRUE 
    # url: jdbc:h2:mem:dbtest #配置h2数据库的连接地址;此为service链接模式，只允许一个链接，如果想多个链接，比如测试代码链接和页面的h2控制台链接，请使用混合模式链接,将 JDBC URL 后加上 AUTO_SERVER=TRUE
    # username: sa
    #从h2数据转为mysql
    url: jdbc:mysql://localhost:3306/chat
    # url: jdbc:mysql://192.168.219.131:3306/chat
    username: admin
    # password: ChatDB_@628
    password: myChat_@811
    driver-class-name: com.mysql.cj.jdbc.Driver
  # h2:
  #   console:
  #     settings:
  #       web-allow-others: true #进行该配置后，h2 web consloe就可以在远程访问了。否则只能在本机访问。
  #     path: /h2 #进行该配置，你就可以通过YOUR_URL/h2访问h2 web consloe。YOUR_URL是你程序的访问URl。
  #     enabled: true #进行该配置，程序开启时就会启动h2 web consloe。当然这是默认的，如果你不想在启动程序时启动h2 web consloe，那么就设置为false。
  # jpa:
  #   database: h2 #指定数据库类型
  #   hibernate:
  #     ddl-auto: update #设置ddl模式
  #   show-sql: true #启用SQL语句的日志记录
  # sql:
  #   init:
  #     platform: h2 #表明使用的数据库平台是h2
  #     schema-locations: classpath:db/schema.sql #进行该配置后，每次启动程序，程序都会运行resources/db/schema.sql文件，对数据库的结构进行操作。
  #     data-locations: classpath:db/data.sql #进行该配置后，每次启动程序，程序都会运行resources/db/data.sql文件，对数据库的数据操作。

  # thymeleaf 配置 
  thymeleaf:
    mode: HTML5
    encoding: UTF-8
    servlet:
      content-type: text/html; charset=utf-8
    cache: TRUE
    prefix: classpath:/templates/ #html 文件所在路径
    #prefix: /templates/ #没有classpath 会报错
    suffix: .html
    check-template-location: TRUE
    template-resolver-order: 1
#server 配置不在spring 内
server:
  port: 2234

   
